@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Anmeldung zum COVID-19 Schnelltest</h1>
    <p>Hier können Sie sich für einen freiwilligen und kostenlosen Corona Schnelltest anmelden.</p>
</div>